*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    background-image: linear-gradient(to right, rgba(66, 61, 66, 0.75), rgba(188, 196, 216, 0.8)), url('AirPods.png');
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: 'Fira Sans', sans-serif;
  }
  nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 35px 5%;
  }
  nav .logo{
    font-size: 30px;
    font-weight: 700;
  }
  nav ul{
    display: flex;
    list-style: none;
  }
  nav ul li{
    padding: 8px 15px;
    border-radius: 10px;
    transition: 0.2s ease-in;
  }
  nav ul li a{
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
  }
  nav .navLinks button{
    padding: 2px 20px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border-style: none;
    font-weight: 700;
    margin-left: 10px;
  }
  nav ul li:hover{
    background-color: rgb(0, 0, 0);
  }
  nav .menubtn{
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
    display: none;
  }
   
  /* responsive navbar css */
  @media screen and (max-width: 600px) {
    nav .menubtn{
      display: flex;
    }
    nav .navLinks{
      display: none;
    }
    .sideNav {
      display: block !important;
    }
  }
   
  .sideNav{
    height: 100%;
    position: fixed;
    top: 0;
    right: 0%;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    transition: 0.3s ease-in;
    padding-top: 60px;
    display: none;
  }
   
  .sideNav a{
    padding: 8px 8px 8px 40px;
    display: block;
    font-size: 25px;
    font-weight: 500;
    color: #d1d1d1;
    transition: 0.3s;
    text-decoration: none;
  }
  .sideNav a button {
    padding: 10px 20px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border-style: none;
    font-weight: 700;
  }
  .sideNav a:hover{
    color: white;
  }
  .sideNav .closeBtn{
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 20px;
    margin-left: 50px;
  }
   
  .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 5%;
  }
  .row .column1 {
    padding-right: 50px;
  }
  .column1 h1 {
    font-size: 60px;
    margin-bottom: 10px;
  }
  .column1 p {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .column1 button {
    width: 150px;
    padding: 12px 20px;
    border-radius: 20px;
    border-style: none;
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: 600;
  }
  /* Header content responsive */
  @media screen and (max-width: 980px) {
    .column2 img {
      width: 350px;
    }
    .column1 h1 {
      font-size: 40px;
    }
    .column1 p{
      font-size: 17px;
    }
    .row {
      margin-top: 80px;
    }
  }
   
  @media screen and (max-width: 600px) {
   
    .column1 h1 {
      font-size: 35px;
    }
    .row {
      flex-direction: column;
   
    }
    .row .column1 {
      padding: 30px;
    }
  }
  
  .content{
    height: 40vh;
    background-color: black;
    font-size: 2.5rem;
    padding: 8%;
    
    justify-content: center;
  }
  .newOnes{
    background-color: white;
    color: black;
    /* text-transform: capitalize; */
    height: 65vh;
    padding: 5%;
  }
  .newOnes h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* padding: 5% 0%; */
    font-size: 4rem;
    font-weight: 1;
    border-bottom: 3px solid black;
  }
  .newwatch{
    padding: 2%;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* background-color: rgb(56, 54, 54); */
    justify-content: space-around;
  }
  .newwatchImg img{
    max-width: 500px;
    height: auto;
    width: 100%;
    background-color: black;
  
  }
  
  .newwatchDetails{
    padding: 2%;
    padding-top: 100px;
    justify-content: center;
    text-align: center;
    color: white;
    height: 300px;
    margin: 20px;
    background-color: black;
    
    /* align-content: center; */
  
  }
  .newwatchDetails h2,button{
    padding: 20px;
    font-size: 2rem;
    /* color: black; */
  }
  .newwatchDetails button{
    margin: 10px;
    font-size: 1rem;
    border-radius: 30%;
  }
  .footer{
    background-color: black;
    height: 10vh;
    padding: 2%;
  
  }
  .footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
    padding-bottom: 20px;
    border-bottom: 3px solid rgb(255, 255, 255);
  
  }
  
  
  
  @media screen and (max-width: 980px) {
  .content{
    height: auto;
    font-size: 3rem;
    
  }
  .newOnes{
    height: auto;
  }
  .newOnes h1{
    font-size: 2rem;
  
  }
  .newwatch {
    flex-direction: column;
  
  }
  .newwatchDetails{
    padding: 0%;
  
  }
  
  @media screen and (max-width: 600px) {
    .content{
      font-size: 2rem;
      
    }
   
  }